<div class="container-citas">
    <div class="btn-group me-2" role="group" aria-label="Second group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar"
                aria-label="Buscar" aria-describedby="button-addon2">
            <button class="btn btn-dark" stype="button" id="button-addon2">
                <i class="fa fa-download" aria-hidden="true"></i>
            </button>
        </div>
        <button class="btn btn-dark" type="button" id="button-addon3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Nueva cita
        </button>
    </div>

    <div class="contenedor-citas">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Persona visitante</th>
                  <th scope="col">Persona UTAGS</th>
                  <th scope="col">Fecha inicio</th>
                  <th scope="col">Fecha fin</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Estatus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
</div>