<div class="container-citas">
    <div class="btn-group me-2" role="group" aria-label="Second group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2" [(ngModel)]="SearchText">
            <button class="btn btn-dark" type="button" id="button-addon2">
                <i class="fa fa-download" aria-hidden="true"></i>
        </button>
        </div>
        <label class="btn btn-dark" type="button" id="button-addon3" for="btn-modal" (click)='limpiarDatos("newCita")'>
            <i class="fa fa-plus" aria-hidden="true"></i>
            Nueva cita
    </label>
    </div>

    <!--Ventana modal para nueva cita-->
    <input type="checkbox" id="btn-modal">
    <div class="container-modal">
        <div class="content-modal">
            <!--Aqui agregan el formulario -->
            <h2>{{titleToDo}}</h2>
            <div class="row">
                <div class="col">
                    <label for="empresa">Nombre(s)</label>
                    <input type="text" id="empresa" placeholder="Nombre de la empresa" class="form-control" [(ngModel)]="Empresa">
                </div>
                <div class="col">
                    <label for="descripcion">Descripción</label>
                    <input type="text" id="descripcion" placeholder="Descripción" class="form-control" [(ngModel)]="Descripcion">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="visitante">Persona visitante</label>
                    <input type="text" id="vivitante" placeholder="Persona visitante" class="form-control" [(ngModel)]="Visitante">
                </div>
                <div class="col">
                    <label for="personUtags">Persona utags</label>
                    <input type="text" id="personUtags" placeholder="Persona utags" class="form-control" [(ngModel)]="PersonaUtags">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="fhInicio">Fecha inicio</label>
                    <input type="date" id="fhInicio" class="form-control" [(ngModel)]="FechaInicio">
                </div>
                <div class="col">
                    <label for="fhFin">Fecha fin</label>
                    <input type="date" id="fhFin" class="form-control" [(ngModel)]="FechaFin">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="hora">Hora</label>
                    <input type="time" id="hora" placeholder="Hora" class="form-control" [(ngModel)]="Hora">
                </div>
                <div class="col">
                    <button class="btn btn-secondary" id="boton-limpiar" type="button" (click)="limpiarDatos('clear')">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Limpiar
                    </button>
                    <button class="btn btn-dark" id="boton-agendar" type="button" (click)="registrarCita()" *ngIf="!editando">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            Guardar
                    </button>
                    <button class="btn btn-dark" id="boton-agendar" type="button" (click)="updateCita()" *ngIf='editando'>
                        <i class="fa fa-save" aria-hidden="true"></i>
                        Actualizar
                </button>
                </div>
            </div>
            <div class="btn-cerrar">
                <label for="btn-modal">X</label>
            </div>
        </div>
        <label for="btn-modal" class="cerrar-modal"></label>
    </div>


    <div class="msgNoCitas" *ngIf="citasList.length == 0">
        <h3>No hay citas registradas</h3>
    </div>

    <div class="contenedor-citas" *ngIf='citasList.length > 0'>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Persona visitante</th>
                    <th scope="col">Persona UTAGS</th>
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Fecha fin</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let citasAux of citasList | filter:SearchText; let i = index">
                    <td>{{citasAux.strNombre}}</td>
                    <td>{{citasAux.strDescripcion}}</td>
                    <td>{{citasAux.strPersonaVisitante}}</td>
                    <td>{{citasAux.strPersonaUtags}}</td>
                    <td>{{citasAux.dteFechaInicio | date:'dd/MM/yy'}}</td>
                    <td>{{citasAux.dteFechaFin | date:'dd/MM/yy'}}</td>
                    <td>{{citasAux.strHora}}</td>
                    <td>
                        <label class="btn btn-dark" type="button" id="button-addon3" for="btn-modal" (click)='getDataToUpdate(citasAux._id, citasAux.strNombre, citasAux.strDescripcion, citasAux.strPersonaVisitante, citasAux.strPersonaUtags, citasAux.dteFechaInicio, citasAux.dteFechaFin, citasAux.strHora)'>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </label>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="deleteCita(citasAux._id, !citasAux.blnActivo)" style="background: none; border: none; padding: 0; box-shadow: none; outline: none;">
                            <div [ngClass]="citasAux.blnActivo ? 'checkBox-true' : 'checkBox-false'">
                                <i></i>
                            </div>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>